<%= render 'boilerplate/frontend_definition.erb', :variables => {
  :name => 'https',
  :bind_addresses => get_attribute('gitlab-haproxy', 'listen_addresses'),
  :bind_port=> 443,
  :bind_extra_options => '',
  :https_extra_bind_port => get_attribute('gitlab-haproxy', flavor, 'https', 'extra_bind_port'),
  :enforce_cf_origin_pull => get_attribute('gitlab-haproxy', flavor, 'enforce_cloudflare_origin_pull'),
  :listen_certificates => get_attribute('gitlab-haproxy', 'ci-gateway', 'enabled') ? [
    '/etc/haproxy/ssl/gitlab.pem',
    '/etc/haproxy/ssl/internal.pem',
    '/etc/haproxy/ssl/ci-gateway.pem',
  ] : [
    '/etc/haproxy/ssl/gitlab.pem',
    '/etc/haproxy/ssl/internal.pem',
  ],
  :mode => 'http',
  :expect_proxy => 'HTTP',
} -%>
<%- https_git_acl_format = get_attribute('gitlab-haproxy', flavor, 'https_git', 'use_verbose_acls') ? 'verbose' : 'condensed' -%>

  capture request header User-Agent len 64
  acl is_canary_path path_beg -f /etc/haproxy/canary-request-paths.lst
<% if flavor == 'main' %>
  acl is_websocket hdr(Upgrade) -i WebSocket
  acl is_api_request path_beg -i /api/
  acl is_gitlab_com_ai_assisted path_beg -i /api/v4/code_suggestions/
  acl is_gitlab_com_ai_assisted path_beg -i /api/v4/ai_assisted/
  acl is_asset_request path_beg /assets/
  <%= render "partial_is_https_git_#{https_git_acl_format}.erb" -%>

  http-request set-header X-GitLab-Show-Login-Captcha 1 if { src -f /etc/haproxy/recaptcha/require-captcha.lst }

  # Static redirects
  http-request redirect code 308 location https://gitlab.com%[capture.req.uri] if { hdr(host) -i www.gitlab.com }
<% end %>
  http-request redirect code 308 location https://%[hdr(host)]%[url,regsub(/+,/,g)] if { path_reg /{2,} }

<% if flavor == 'main' %>
  http-request set-header X-GitLab-Show-Login-Captcha 1 if { src -f /etc/haproxy/recaptcha/require-captcha.lst }
<% end %>

<%= render 'boilerplate/http_front-end-security.erb' %>

  ### Injected custom configuration ###########################################
  <% if flavor == 'main' %>
<%= formatted_custom_config(get_attribute('gitlab-haproxy', flavor, 'https', 'custom_config'), 2) %>
  <% else %>
<%= formatted_custom_config(get_attribute('gitlab-haproxy', flavor, 'custom_config'), 2) %>
  <%end %>
  ### End injected custom configuration #######################################

<% if flavor == 'main' %>
<% if enabled_backends.include? 'asset_proxy' -%>
  # Asset routing, all requests for /assets/ are routes to the asset object-storage bucket.
  # There is a basic health check for a file named /info, in the bucket
  # if it doesn't exist, asset requests will go to the front-end workers.
  use_backend asset_proxy if is_asset_request backend_available_asset_proxy

<% end -%>
  ###############################################################
  # AI Assisted routing rules
  use_backend ai_assisted if is_gitlab_com_ai_assisted
  ###############################################################

  ###############################################################
  # API routing rules
  use_backend main_api if is_api_request canary_opt_out
  use_backend canary_api if is_api_request canary_opt_in backend_available_canary_api
  use_backend canary_api if is_api_request is_canary_path backend_available_canary_api
  use_backend api if is_api_request

  ###############################################################
  # HTTPS GIT routing rules
  # There is no request path based canary routing for HTTPS GIT
  # see https://gitlab.com/gitlab-com/gl-infra/delivery/-/issues/1182

  use_backend https_git if is_https_git canary_opt_out
  use_backend canary_https_git if is_https_git canary_opt_in backend_available_canary_https_git
  use_backend https_git if is_https_git

  ###############################################################
  # Websockets routing rules
  use_backend websockets if is_websocket

  ###############################################################
  # Web routing rules
  use_backend main_web if canary_opt_out
  use_backend canary_web if canary_opt_in backend_available_canary_web
  use_backend canary_web if is_canary_path backend_available_canary_web
  default_backend web

<%end %>
