<%= render 'boilerplate/frontend_definition.erb', :variables => {
  :name => 'https_git_ci_gateway',
  :bind_addresses => get_attribute('gitlab-haproxy', 'listen_addresses'),
  :bind_port=> get_attribute('gitlab-haproxy', 'ci-gateway', 'listen_port'),
  :listen_certificates => [
    '/etc/haproxy/ssl/ci-gateway.pem',
  ],
  :mode => 'http',
} -%>
<%- https_git_acl_format = get_attribute('gitlab-haproxy', flavor, 'https_git', 'use_verbose_acls') ? 'verbose' : 'condensed' -%>

  capture request header User-Agent len 64

  acl is_runner_manager src <%= get_attribute('gitlab-haproxy', 'ci-gateway', 'allowlisted_runner_managers').join(' ') %>
  acl is_api_jobs_request path_reg -i ^\/api\/v\d\/jobs\/request$
  acl is_api_jobs_id path_reg -i ^\/api\/v\d\/jobs\/\d+$
  acl is_api_jobs_id_trace path_reg -i ^\/api\/v\d\/jobs\/\d+\/trace$
  acl is_patch_method method PATCH

<%= render "partial_is_https_git_#{https_git_acl_format}.erb" -%>
  acl is_git_method method GET POST

  acl is_git_legacy_initial_request path_reg -i ^\/[^\/]+(\/[^\/]+)+\/info\/refs$
  acl is_git_new_initial_request path_reg -i ^\/[^\/]+(\/[^\/]+)+.git\/info\/refs$

  # This is the only remaining place where we set X-GitLab-RateLimit-Bypass inside HAProxy,
  # as other configs have been moved to Cloudflare. We kept this because CI Gateway traffic 
  # is internal and thus does not pass through Cloudflare beforehand.
  # https://gitlab.com/gitlab-com/gl-infra/production-engineering/-/issues/26205
  http-request set-header X-GitLab-RateLimit-Bypass 1 if is_https_git is_git_method

  # Set the canonical host as Host header so that ci-gateway
  # is transparent for GitLab backends
  http-request set-header Host <%= get_attribute('gitlab-haproxy', flavor, 'canonical_host') %>

  ###############################################################
  # Redirect git requests missing .git suffix in the repo url
  use_backend ci_gateway_git_repo_redirection if is_git_legacy_initial_request !is_git_new_initial_request is_git_method
  ###############################################################

  ###############################################################
  # HTTPS git routing
  use_backend https_git if is_https_git is_git_method
  ###############################################################

  ###############################################################
  # Limited API routing
  use_backend api if is_runner_manager is_api_jobs_request METH_POST
  use_backend api if is_runner_manager is_api_jobs_id METH_PUT
  use_backend api if is_runner_manager is_api_jobs_id_trace is_patch_method
  ###############################################################

  ###############################################################
  # Redirect to GitLab public entrypoint otherwise
  default_backend ci_gateway_catch_all
  ###############################################################
