<%= render 'boilerplate/frontend_definition.erb', :variables => {
  :name => 'pages_https',
  :bind_addresses => get_attribute('gitlab-haproxy', 'listen_addresses'),
  :bind_port=> 443,
  :skip_availability_acls => true, # no ACL traffic routing, we can skip the availibility acls
  :mode => 'tcp',
  :minimal => true,
  # :expect_proxy => 'TCP', # This is explicitly NOT SET. Otherwise we might get problems with customers fronting a pages site via Cloudflare, as CF would connect in HTTPS context then, which is not wrapped in PROXYv2.
} -%>

  tcp-request inspect-delay 5s # Required for TLS inspection

<%= render 'boilerplate/tcp_front-end-security.erb' %>

  tcp-request content reject if { req_ssl_sni -i -f /etc/haproxy/front-end-security/deny-403-pages-domains.lst }
  <%- if get_attribute('gitlab-haproxy', 'pages', 'enable_domain_rate_limiting') -%>
  acl mark_seen sc0_inc_gpc0 gt 0
  acl domain_deny sc0_conn_rate gt <%= get_attribute('gitlab-haproxy', 'pages', 'domain_rate_limit_per_second') %>

  stick-table type string len 128 size 1m expire 10s store gpc0,conn_rate(1s) peers pages-peers
  tcp-request content track-sc0 req_ssl_sni
  tcp-request content reject if mark_seen domain_deny
  <%- end -%>

<%= formatted_custom_config(get_attribute('gitlab-haproxy', 'pages', 'https_custom_config'), 2) %>

  use_backend pages_https
