<%= render 'boilerplate/frontend_definition.erb', :variables => {
  :name => 'registry_https',
  :bind_addresses => get_attribute('gitlab-haproxy', 'listen_addresses'),
  :bind_port=> 443,
  :bind_extra_options => '',
  :https_extra_bind_port => get_attribute('gitlab-haproxy', flavor, 'https', 'extra_bind_port'),
  :enforce_cf_origin_pull => get_attribute('gitlab-haproxy', flavor, 'enforce_cloudflare_origin_pull'),
  :listen_certificates => [
    '/etc/haproxy/ssl/registry.pem',
    '/etc/haproxy/ssl/internal.pem',
  ],
  :mode => 'http',
  :expect_proxy => 'HTTP',
} -%>

capture request header User-Agent len 64
acl is_canary_path path_beg -f /etc/haproxy/canary-request-paths.lst

<%= render 'boilerplate/http_front-end-security.erb' %>

<% if get_attribute('gitlab-haproxy', flavor, 'rate_limit', 'enable') %>
stick-table type ipv6 size 1m expire 30s store http_req_rate(10s) <% if peers.any? -%>peers <%= flavor %>-peers<% end -%>
http-request track-sc0 src
http-request deny deny_status 429 if { sc_http_req_rate(0) gt <%= get_attribute('gitlab-haproxy', flavor, 'rate_limit', 'rate_limit_per_10s') %> }
<% end %>

<% if enabled_backends.include? 'canary_registry' -%>
use_backend registry if canary_opt_out
use_backend canary_registry if canary_opt_in backend_available_canary_registry
use_backend canary_registry if is_canary_path backend_available_canary_registry
<% end %>
default_backend registry
