<%= render 'boilerplate/frontend_definition.erb', :variables => {
  :name => 'ssh',
  # FIXME: See https://gitlab.com/gitlab-com/gl-infra/production-engineering/-/issues/25900
  # :bind_addresses => get_attribute('gitlab-haproxy', 'listen_addresses'),
  :bind_addresses => ['0.0.0.0'],
  :bind_port=> get_attribute('gitlab-haproxy', flavor, 'ssh', 'port'),
  :bind_extra_options => get_attribute('gitlab-haproxy', flavor, 'ssh', 'bind_extra_options'),
  :skip_availability_acls => true, # no ACL traffic routing, we can skip the availibility acls
  :certificates => [],
  :mode => 'tcp',
  :expect_proxy => 'TCP',
} -%>

<%= render 'boilerplate/tcp_front-end-security.erb' %>

  stick-table type ipv6 size 1m expire 5m store gpc0,conn_rate(1m) <% if peers.any? %>peers <%= flavor %>-peers <% end %>

  ### Injected custom configuration ###########################################
<%= formatted_custom_config(get_attribute('gitlab-haproxy', flavor, 'ssh', 'custom_config'), 2) %>
  ### End injected custom configuration #######################################

  use_backend ssh
