<%= render 'boilerplate/backend_definition.erb', :variables => {
  name: 'canary_api',
  description: 'Targets the API fleet consisting only of canary backends',
  mode: 'http',
  health_check: get_attribute('gitlab-haproxy', flavor, 'api'),
  override_host: nil,
  source_nodes: ['canary_api'],
  fallback_values_from_pool: 'api', # Any values not specifically configured in `canary_api`, will be taken from `api` instead.
} -%>
