<% if @health_check['tcp_check_enable'] %>
  option tcp-check
  <%- if @health_check['tcp_check_string'] -%>
  tcp-check expect string "<%= @health_check['tcp_check_string'] %>"
  <%- end -%>
<% else %>
  option httpchk
  http-check send meth GET uri <%= @health_check['httpchk_path'] %> ver HTTP/1.1 hdr Host <%= @health_check['httpchk_host'] %>
  <%- if @health_check['httpchk_status'] -%>
  http-check expect status <%= @health_check['httpchk_status'] %>
  <%- end -%>
<% end %>
